.site-content .tab-container .tabs + hr, .site-content .tab-container .tab-content-container .tab-content > hr, main > hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #a7a7a7;
}

html {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
}

.container {
  margin: auto;
}

main {
  width: 70%;
  margin-inline: auto;
  margin-top: 10em;
}
main > h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
main .intro {
  padding: 2em;
  text-align: center;
  margin-bottom: 8em;
}
@media screen and (max-width: 467px) {
  main {
    margin-top: 5em;
    width: 90%;
  }
  main .intro {
    margin-bottom: 3em;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  background-color: #191919;
  height: 5em;
}
nav h1 {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  font-size: 1.5rem;
}
nav .logo-img {
  width: 3.5em;
  padding: 0.25em;
  margin-left: 3em;
}
nav .social-links {
  display: flex;
  gap: 1em;
  margin-right: 1em;
  font-size: 1.35rem;
}
nav .social-links a {
  color: #a7a7a7;
}

@media screen and (max-width: 791px) {
  nav {
    flex-direction: column;
  }
  nav h1 {
    position: static;
    transform: translate(0, 0);
    font-size: 1.5rem;
  }
  nav .logo-img {
    display: none;
  }
}
.site-content .tab-container {
  width: 70%;
  margin-inline: auto;
}
.site-content .tab-container .tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
  gap: 2em;
}
.site-content .tab-container .tabs > .tab {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding: 0.8em 2em;
  cursor: pointer;
}
.site-content .tab-container .tabs .tab:not(.active):hover {
  background-color: #404040;
}
.site-content .tab-container .tabs .active {
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #5fa9e9;
}
.site-content .tab-container .tabs + hr {
  margin-bottom: 2em;
}
.site-content .tab-container .tab-content-container .tab-content {
  margin-inline: auto;
  display: none;
}
.site-content .tab-container .tab-content-container .tab-content > hr {
  width: 60%;
  margin-inline: auto;
}
.site-content .tab-container .tab-content-container .tab-content .project-card {
  padding: 1em;
  margin-bottom: 3em;
  box-shadow: 3px 3px 5px 1px black;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-title > .go-to-links > a {
  padding: 0.25em 2em;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: #a7a7a7;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  cursor: pointer;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-title > .go-to-links > a:hover {
  background-color: #0D0D0D;
}
@media screen and (max-width: 775px) {
  .site-content .tab-container .tab-content-container .tab-content .project-card .project-title {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4em;
    margin-bottom: 1em;
  }
}
.site-content .tab-container .tab-content-container .tab-content .project-card > hr {
  margin-bottom: 1em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-showcase {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.35em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-showcase iframe {
  box-shadow: 2px 2px 3px 1px black;
}
@media screen and (max-width: 791px) {
  .site-content .tab-container .tab-content-container .tab-content .project-card .project-showcase iframe {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .site-content .tab-container .tab-content-container .tab-content .project-card .project-showcase {
    flex-direction: column;
    flex-flow: column-reverse;
  }
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags {
  display: flex;
  gap: 0.25em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag {
  display: flex;
  border-radius: 3px;
  background-color: #505050;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  font-size: 0.8em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag .project-tag-title {
  padding: 0 0.1em 0 0.1em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag .project-tag-content {
  padding: 0 0.1em 0 0.1em;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag .tag-builddate {
  background-color: #1081c2;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag .tag-engine {
  background-color: #ee7a3b;
}
.site-content .tab-container .tab-content-container .tab-content .project-card .project-tags .project-tag .tag-language {
  background-color: #4ec820;
}
.site-content .tab-container .tab-content-container .active {
  display: block;
}
.site-content .tab-container .coming-soon-txt {
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 467px) {
  .site-content .tab-container {
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */