@use './variables';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: variables.$background-color;
    color: variables.$font-color;
}

html
{
    font-family: variables.$primary-font;
}

h1
{
    color: variables.$header-color;
}

.container
{

    // background-color: aquamarine;
    margin: auto;
}