@use './variables';
main
{
    width: 70%;
    margin-inline: auto;
    margin-top: 10em;
    // text-align: center;
    > h1
    {
        width: 100%;
        text-align: center;
        font-size: 4rem;
    }
    .intro
    {
        // width: 90%;
        // margin-inline: auto;
        // margin-bottom: 3em;
        padding: 2em;
        text-align: center;
        margin-bottom: 8em;
    }

    > hr 
    {
        @extend %hr-shared;
    }
}